/* 引入 Google 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-image: url("../images/309682712_492557419550735_5409211893451850161_n.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: #333;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.form-section {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.pp {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.dropdown-container {
  margin-bottom: 20px;
}

#date-select {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#submit-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

#submit-btn:hover {
  background-color: #0056b3;
}

#selected-date {
  font-size: 18px;
  margin-top: 20px;
}

#price_area {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  color: #007BFF;
}

footer p {
  margin: 0;
}
